{% extends "layout.html" %}
{% block content %}
<div id="help" class="container">
    <div class="row">
        <div class="about">
            <h2>このサイトについて</h2>
            <p>
                <a href="http://jswetohoku.web.fc2.com" target="_blank">日本水環境学会東北支部</a>
                による、<a href="https://www.env.go.jp/water/wsi/" target="_blank">水環境健全性指標(「水辺のすこやかさ指標」)</a>
                を用いた水辺の環境調査(「みずしるべ調査」)の調査成果共有プラットフォーム構築の取り組みのためのWebアプリです。
                開発担当は<a href="http://www.aomori-u.ac.jp/" target="_blank">青森大学</a>ソフトウェア情報学部の角田・和島研究室です。
            </p>
        </div>
    </div>
</div>
{% endblock %}