{% extends "layout.html" %}

{% block header %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/map.css') }}" />
<script type="module" src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}

{% block content %}


<div id="site" class="container">
    <!-- ここにマップを書く -->
    <div class="row map">
        <div class="col-xs-12 col-md-12 col-sm-12">
            <div id="map"></div>
            {% set marker = 1 %}
            <input type="hidden" id="lat0" name="lat" value={{ site.latitude }}>
            <input type="hidden" id="lng0" name="lng" value={{ site.longitude }}>
            <input type="hidden" id="marker_count" name="count" value={{ marker }}>
        </div>
    </div>
    
    <div class="row basic-informations">
        <div class="col-xs-12 col-md-12 col-sm-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    {# 地域名 #}
                    <thead class="thead-light">
                        <tr>
                            <th>地域 (調査数)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="position-relative"><a class="stretched-link" href="/">{{ site.survey.area.region.name }}</a></td>
                        </tr>
                    </tbody>
                    
                    {# 県名 #}
                    <thead class="thead-light">
                        <tr>
                            <th>県名 (調査数)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr-hover">
                            <td class="position-relative"><a class="stretched-link" href="/">{{ site.survey.area.name }}</a></td>
                        </tr>
                    </tbody>
                    
                    {# 調査名 #}
                    <thead class="thead-light">
                        <tr>
                            <th>調査名 (地点数)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="tr-hover">
                            <td class="position-relative"><a class="stretched-link" href="/surveys/index/{{ site.survey.area_id }}">{{ site.survey.name }}</a></td>
                        </tr>
                    </tbody>
                    
                    {# 調査日 #}
                    <thead thead="thead-light">
                        <tr>
                            <th>調査日</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ site.date }}</td>
                        </tr>
                    </tbody>
                    
                    {# 地点名 #}
                    <thead class="thead-light">
                        <tr>
                            <th>地点名</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ site.name }}</td>
                        </tr>
                    </tbody>
                    
                    {# 調査者 #}
                    <thead class="thead-light">
                        <tr>
                            <th>調査者</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ site.survey.surveyor }}</td>
                        </tr>
                    </tbody>
                    
                    {# 責任者 #}
                    <thead class="thead-light">
                        <tr>
                            <th>責任者</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ site.survey.director_name }}</td>
                        </tr>
                    </tbody>
                    
                    {# 説明 #}
                    <thead class="thead-light">
                        <tr>
                            <th>説明</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td-wrap">{{ site.note }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    {% for i in range(itemLabels | length) %}
    <div class="row detailed-informations">
        <div class="col-xs-12 col-md-8 col-sm-8">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th colspan="3">{{ itemLabels[i] }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for j in range(subItemLabels[i] | length) %}
                        <tr>
                            <td class="item-index">{{ j + 1 }}</td>
                            <td>{{ subItemLabels[i][j] }}</td>
                            <td class="item-value">{{ subItemVals[i][j] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-4 d-flex align-items-center">
            <canvas id="siteChart{{ i }}"></canvas>
            <input type="hidden" id="chart_labels{{ i }}" name="chart_labels" value="{{ site_chart[i].chart_labels }}">
            {# <input type="hidden" id="chart_title" name="chart_title" value="{{ site_chart.chart_title }}"> #}
            {# <input type="hidden" id="chart_target" name="chart_target" value="{{ site_chart.chart_target }}"> #}
            <input type="hidden" id="chart_data{{ i }}" name="chart_data" value="{{ site_chart[i].chart_data }}">
        </div>
    </div>
    {% endfor %}
</div>

{# 仮のグラフ
<div class="container">
    <div class="row my-4">
        <canvas id="testChart"></canvas>
        <input type="hidden" id="chart_labels" name="chart_labels" value="{{ site_chart.chart_labels }}">
        <input type="hidden" id="chart_title" name="chart_title" value="{{ site_chart.chart_title }}">
        <input type="hidden" id="chart_target" name="chart_target" value="{{ site_chart.chart_target }}">
        <input type="hidden" id="chart_data" name="chart_data" value="{{ site_chart.chart_data }}">
    </div>
</div>
#}

<script type="text/javascript" src="{{ url_for('static', filename='js/graph.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ map_key }}&callback=initMap&language=ja" defer></script>

{#
<div class="row detailed-informations">
    <div class="col-xs-12 col-md-8 col-sm-8">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th colspan="3"></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
#}
{% endblock %}